.filter-section {
    margin: 20px 40px;
}

.filter-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.filter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

}

.filter-item label {
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-item select,
.filter-item input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px; /* Increased the width of the boxes */
    max-width: 200px; /* Ensures that the boxes have a maximum width */
}

.product-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.product-card1 {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-image11 {
    flex: 1;
    padding: 10px;
}

.product-image11 img {
    width: 100%;
    height: auto;
    max-width: 150px;
    object-fit: cover;
}

.product-info1 {
    flex: 2;
    text-align: left;
    padding: 10px;
}

.product-info1 h2 {
    font-size: 20px;
    margin: 10px 0;
}

.product-info1 p {
    margin: 5px 0;
}

.product-price1 {
    color: green;
    font-size: 18px;
    margin-top: 10px;
}

.button-container1 {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.button-container1 button {
    padding: 8px 16px;
    background-color: #d7c39f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container1 button:hover {
    background-color: #b25d5d;
}
